{% extends 'base.html.twig' %}

{% block title %}Type de Personnage
{% endblock %}

{% block body %}
    <style>
        .imgStyle {
            width: 200px;
            height: 300px;
            object-fit: cover;
            object-position: center;
        }
        .card-header {
            background: url(https://www.wallpapertip.com/wmimgs/6-64937_shiny-gold-color-background-7-golden-colour-background.jpg);
        }
    </style>
	{{ parent() }}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('mythology') }}">Mythologies</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">categories</li>
		</ol>
	</nav>
	<h1 class="text-center text-gray mb-5 mt-5">Quelle type de personnage
		{{ mythology.name }}
		voulez vous voir les Mythes?</h1>
	<div class="d-flex flex-row gap-3 flex-wrap justify-content-around">
		{% for category in mythology.categories %}
			<div class="card">
                <div class="card-header">
				    <img src="{{ category.characters[0].picture }}" alt="{{ category.name }}" class="imgStyle rounded-pill border">
				</div>
                <div class="card-body">
					<a class="nav-link text-end" href="{{ path("category", { slugMythology: mythology.slug, slugCategory: category.slug  }) }}" class="btn btn-secondary text-end">
                        <h2 class="text-center">{{ category.name }}</h2>
					</a>
				</div>
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
	</div>
{% endblock %}
