{% extends 'base.html.twig' %}

{% block title %}Type de Personnage{% endblock %}

{% block body %}
{{ parent() }}
    <style>
        .flip-card {
        background-color: transparent;
        width:15rem;
        height:20rem;
        perspective: 1000px;
        border: none;
        }

        
        .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        }

        
        .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        }

        .flip-card-front {
        color: black;
        }

        .flip-card-back {
        background-color: gray;
        color: white;
        transform: rotateY(180deg);
        } 
    </style>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('mythology') }}">Mythologies</a></li>
        <li class="breadcrumb-item"><a href="{{ path("categories", { slug : characters[0].mythology.slug }) }}">Categories</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ characters[0].category.slug }}</li>
      </ol>
    </nav>
    <h1 class="text-center text-gray mb-5 mt-5"> Quel personnage veut tu voir les mythes?</h1>
    <div class="d-flex flex-row gap-3 flex-wrap justify-content-around">
    {% for character in characters %}
            <div class="card rounded flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{{ character.picture }}" alt="{{ character.name }}" class="card-img w-100 h-100">
                </div>
                <div class="rounded flip-card-back d-flex flex-column gap-5">
                  <h2 class="mt-2">{{ character.name }}</h2>
                  <p>{{ character.description }}</p>
                  <a class="nav-link fs-3" href="{{  path('character', {slugMythology: character.mythology.slug, slugCategory : character.category.slug, character: character.slug}) }}">Voir les Myths</a>
                </div>
              </div>
            </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    </div>
{% endblock %}
