{% extends 'base.html.twig' %}

{% block title %}Mythographie {% endblock %}

{% block body %}
{{ parent() }}
    <h1>Toutes les Mythologies :</h1>
    <div class="row">
    {% for mythology in mythologies %}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ loop.index }} / {{ mythology.name }}</h2>
                    <p class="card-text">{{ mythology.description }}</p>
                    {# Lien vers la fiche de la série : { slug: program.slug })#}
                </div>
                <div class="card-footer">
                    <a href="{{ path("categories", { slug : mythology.slug }) }}" class="btn btn-primary">Aller voir les Myths</a>
                </div>
            </div>
        </div>    
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    </div>
{% endblock %}
