<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://new-game-plus.fr/wp-content/uploads/2021/09/Critique-A-Total-War-Saga-Troy.jpg" alt="Mythographie" width="30" height="24" class="d-inline-block align-text-top">
      Mythographie
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="">
        {% if app.user %}

            <p>{{ app.user.pseudo }}</p>
            <img src="{{ app.user.avatar }}" alt="{{ app.user.pseudo }}">

            <a href="{{ path('app_logout') }}"> Se déconnecter</a>

        {% else %}

            <a href="{{ path('login') }}"> Se connecter</a>

        {% endif %}
    </div>
  </div>
</nav>